<ion-header>
  <ion-toolbar>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="modifyDiv">
    <img src="assets/imagenes/foto.png" class="modifyPhoto">
    <p class="nombre">Francisco Manuel Prados Domínguez
        <br><p class="alu">Alumno de 2º GS DAM</p>
    </p>
    <p class="frase">La felicidad de tu vida depende de la calidad de tus pensamientos</p>
    <br>

    <a href="https://github.com/Franpd25"><img src="assets/imagenes/logoGitHub.png" class="logoGit"></a>
    <a href="https://www.linkedin.com/in/fran-prados-dom%C3%ADnguez-2873a6215"><img src="assets/imagenes/logoLinkedin.png" class="logoLinkedin"></a>
  </div>
</ion-content>
