<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1><b>&nbsp;&nbsp;&nbsp;Welcome to First Ionic App!</b></h1>
  <p>
    &nbsp;&nbsp;&nbsp;This project consists of creating an application in which 
    &nbsp;&nbsp;&nbsp;we have to create a personalized list of any topic. 
    To do &nbsp;&nbsp;&nbsp;this, we must insert, update and delete.</p>
  <p>
    &nbsp;&nbsp;&nbsp;On the other hand, we have to do in one of the tabs a 
    &nbsp;&nbsp;&nbsp;functionality that our smartphone can fulfill.
  </p>
</ion-content>